@font-face {
  font-family: 'clear sans bold';
  src: url("fonts/ClearSans-Bold-webfont.eot");
  src: url("fonts/ClearSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ClearSans-Bold-webfont.woff") format("woff"), url("fonts/ClearSans-Bold-webfont.ttf") format("truetype"), url("fonts/ClearSans-Bold-webfont.svg#clear_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'clear sans thin';
  src: url("fonts/ClearSans-Thin-webfont.eot");
  src: url("fonts/ClearSans-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ClearSans-Thin-webfont.woff") format("woff"), url("fonts/ClearSans-Thin-webfont.ttf") format("truetype"), url("fonts/ClearSans-Thin-webfont.svg#clear_sans_thinregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'clear sans';
  src: url("fonts/ClearSans-Regular-webfont.eot");
  src: url("fonts/ClearSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ClearSans-Regular-webfont.woff") format("woff"), url("fonts/ClearSans-Regular-webfont.ttf") format("truetype"), url("fonts/ClearSans-Regular-webfont.svg#clear_sans_Regularregular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #2a2625; }

a {
  text-decoration: none;
  color: #2a2625; }

html {
  background: #f7ead9;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#main {
  height: 100%;
  width: 100%; }

#content, nav {
  font-family: 'clear sans thin','Avenir', sans-serif; }

#content {
  width: 80%;
  margin: auto;
  padding-top: 50px; }
  #content #intro {
    margin-top: 230px;
    font-size: 48px;
    color: #2a2625;
    background-image: url("http://mhmd.us/gEgD+") 100% 100%; }

nav {
  float: right;
  font-size: 30px;
  font-family: 'clear sans', sans-serif; }
  nav a {
    padding-right: 30px; }

.icons {
  font-size: 24px; }

#mobile {
  display: none; }

@media only screen and (max-device-width: 480px) {
  #background {
    display: none; }

  #mobile {
    display: block;
    background-color: #f7ead9; }

  body {
    margin: 0;
    padding: 0; }

  ol {
    margin: 0;
    padding: 0;
    list-style: none; }
    ol li {
      height: 33.33%;
      font-family: "clear sans", "helvetica neue", sans-serif;
      font-size: 4em;
      font-weight: 200; }
      ol li span {
        margin-top: 1.2em;
        position: absolute;
        text-align: center;
        width: 100%; }
    ol a {
      color: #2a2625;
      text-decoration: none; }
    ol a:hover {
      text-decoration: underline; }

  .projects {
    background-color: #53BF9B; }

  .blog {
    background-color: #F4DB9B; }

  .photography {
    background-color: #DE81F2; } }
@media only screen and (max-device-width: 480px) and (max-width: 767px) {
  body ol li {
    font-size: 3em; }
    body ol li span {
      margin-top: 0.7em; } }
