body { margin: 0; padding: 0; font-family: sans-serif; color: white; }

a { text-decoration: none; color: white; }

html { background: url("http://mhmd.us/ffKe+") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

#main { background-color: rgba(146, 165, 198, 0.58); height: 100%; width: 100%; }

#content, nav { font-family: 'Avenir', sans-serif; }

#content { width: 80%; margin: auto; padding-top: 50px; }
#content #intro { margin-top: 450px; font-size: 48px; }

nav { float: right; font-size: 30px; }
nav a { padding-right: 30px; }
