@font-face {
  font-family: 'clear sans bold';
  src: url("fonts/ClearSans-Bold-webfont.eot");
  src: url("fonts/ClearSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ClearSans-Bold-webfont.woff") format("woff"), url("fonts/ClearSans-Bold-webfont.ttf") format("truetype"), url("fonts/ClearSans-Bold-webfont.svg#clear_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'clear sans thin';
  src: url("fonts/ClearSans-Thin-webfont.eot");
  src: url("fonts/ClearSans-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ClearSans-Thin-webfont.woff") format("woff"), url("fonts/ClearSans-Thin-webfont.ttf") format("truetype"), url("fonts/ClearSans-Thin-webfont.svg#clear_sans_thinregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'clear sans';
  src: url("fonts/ClearSans-Regular-webfont.eot");
  src: url("fonts/ClearSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ClearSans-Regular-webfont.woff") format("woff"), url("fonts/ClearSans-Regular-webfont.ttf") format("truetype"), url("fonts/ClearSans-Regular-webfont.svg#clear_sans_Regularregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0; }

ol {
  margin: 0;
  padding: 0;
  list-style: none; }
  ol li {
    height: 25%;
    font-family: "clear sans", "helvetica neue", sans-serif;
    font-size: 4em;
    font-weight: 200; }
    ol li span {
      margin-top: 1em;
      position: absolute;
      text-align: center;
      width: 100%; }
  ol a {
    color: #FFFFFF;
    text-decoration: none; }
  ol a:hover {
    text-decoration: underline; }

.about {
  background-color: #cfc8b6;
  color: #63868c; }

.projects {
  background-color: #63868c;
  color: #f9f3e4; }

.blog {
  background-color: #f9f3e4;
  color: #d58b7f; }

.photography {
  background-color: #d58b7f;
  color: #f9f3e4; }

@media only screen and (max-width: 767px) {
  body ol li {
    font-size: 3em; }
    body ol li span {
      margin-top: 0.7em; } }
