/*
** Some of this CSS uses experimental properties and units
*/

* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
  color: #4e525a;
  min-width: 200px;
}
