body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
  width: 100%; }

h1 {
  text-align: center;
  margin-top: 10px; }

ul {
  padding: 0;
  margin: 0;
  font-size: 20px; }
  ul li {
    font-size: 15px; }

.hello, .main {
  width: 960px;
  margin: auto; }

.hello {
  text-align: center; }
