/*
**
** Some of this CSS uses experimental properties and units
** this page might not work on all browser which support
** W3C Candidate Recommendation 30 July 2013 CSS values and units.
**
*/

* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
  margin-top: 50px;
  color: #353535;
}
#hello {
  font-size: 48px;
  letter-spacing: 0.1px;
  font-weight: 600;
}
#subtitle {
  line-height: 24px;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 0.2px;
}
#triangle-face {
  width: 98px;
  height: 136px;
  background-image: url('/images/triangle-face.svg');
  background-size: 96px;
  background-repeat: no-repeat;
  margin-top: 4px;
}
#intro {
  width: 50%;
  margin: auto;
  padding-left: 10%;
}
a {
  text-decoration: none;
  line-height: 20px;
}
a:hover {
  color: #0862C7;
}
#photography-heading {
  width: 100%;
  float: left;
  text-align: center;
  margin: 10vh auto 8vh;
}
#heading-text {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 3px;
  color: currentColor;
  border: 1px solid rgba(0, 0, 0, 0.2);;
  border-radius: 2px;
  width: 240px;
  max-width: 80%;
  margin: auto;
  padding: 10px;
  font-size: 20px;
}
#heading-text a, #heading-text a:hover {
  color: currentColor;
}

ul li {
  list-style: none;
  margin: auto auto 80px;
}
ul li img {
  width: 80%;
  margin: auto;
  display: block;
  border-radius: 3px;
}
#links {
  float: right;
  padding-right: 10%;
  width: 20%;
  text-align: right;
}
#links a li {
  float: right;
  width: 100px;
  text-align: center;
  border-radius: 3px;
  margin: 10px;
  padding: 6px;
  border: 1px solid #F4F5F7;
  color: #221F5D;
}

#links li:hover {
  background-color: #F4F5F7;
}
