body {
  margin: 0;
  padding: 0; }

ol {
  margin: 0;
  padding: 0;
  list-style: none; }
  ol li {
    height: 25%;
    font-family: "helvetica neue", sans-serif;
    font-size: 4em; }
    ol li span {
      margin-top: 1em;
      position: absolute;
      text-align: center;
      width: 100%; }
  ol a {
    color: #FFFFFF;
    text-decoration: none; }
  ol a:hover {
    text-decoration: underline; }

.navy {
  background-color: #001F3F; }

.blue {
  background-color: #0074D9; }

.aqua {
  background-color: #7FDBFF; }

.teal {
  background-color: #39CCCC; }
