body {
  margin: 0;
  padding: 0; }

ol {
  margin: 0;
  padding: 0;
  list-style: none; }
  ol li {
    height: 25%;
    font-family: "helvetica neue", sans-serif;
    font-size: 4em; }
    ol li span {
      margin-top: 1em;
      position: absolute;
      text-align: center;
      width: 100%; }
  ol a {
    color: #FFFFFF;
    text-decoration: none; }
  ol a:hover {
    text-decoration: underline; }

.about {
  background-color: #cfc8b6;
  color: #63868c; }

.projects {
  background-color: #63868c;
  color: #f9f3e4; }

.blog {
  background-color: #f9f3e4;
  color: #d58b7f; }

.photography {
  background-color: #d58b7f;
  color: #f9f3e4; }

@media only screen and (max-width: 767px) {
  body ol li {
    font-size: 3em; }
    body ol li span {
      margin-top: 0.7em; } }
