* { margin: 0; padding: 0; }
html, body { height: 100%; }
body {
  font-family: sans-serif;
  background-color: rgba(25, 25, 140, 0.5);
  color: #fff;
  line-height: 125%;
}
nav ul {
  list-style: none;
  clear: both;
  display: block;
  width: 100%;
  height: 30px;
}
nav li {
  float: left;
  margin: auto;
  padding: 10px 0;
  line-height: 90%;
  width: 24.8%;
  text-align: center;
  font-weight: bold;
}
a {
  text-decoration: none;  
  color: #fff;
}
div[main]{
  clear: both;
  padding: 30px 10%;
  width: 80%;
  min-height: 80%;
  margin-bottom: 50px;
}
footer {
  text-align: center;
  clear: both;
  font-size: 10px;
  position: relative;
  margin-top: -50px;
}
h1 {
  font-size: 35px;
  line-height: 45px;
}
h2 {
  font-size: 18px;
  line-height: 35px;
}
#links, #links a {
  clear: both;
  float: left;
}
