html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.privilege {
    font-size: 48px;
    color: white;
    text-shadow: var(--shadow-gamma) var(--shadow-beta) 30px gray;
}
