@import 'fonts';
$text-color: #2A2625;
$bg-color: #F7EAD9;
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: $text-color;
}
a {
  text-decoration: none;
  color: $text-color;
}
html {
  background: $bg-color;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#main {
  height: 100%;
  width: 100%;
}
#content, nav {
  font: {
    family: 'clear sans thin','Avenir', sans-serif;
  }
}
#content {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  #intro {
    margin-top: 230px;
    font-size: 48px;
    color: $text-color;
    background-image: url("http://mhmd.us/gEgD+") 100% 100%;
  }
}
nav {
  float: right;
  font-size: 30px;
  font-family: 'clear sans', sans-serif;
  a {
      padding-right: 30px;
  }
}
.icons {
    font-size: 24px;
}
