@import 'fonts';
body {
  margin: 0;
  padding: 0;
}
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    height: 33.33%;
    font-family: "clear sans", "helvetica neue", sans-serif;
    font-size: 4em;
    font-weight: 200;
    span {
      margin-top: 1.2em;
      position: absolute;
      text-align: center;
      width: 100%;
    }
  }
  a {
    color: #FFFFFF;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

.projects {
  background-color: #53BF9B;
}
.blog {
  background-color: #F4DB9B;
}
.photography {
  background-color: #DE81F2;
}

// mobile
@media only screen and (max-width : 767px) {
  body ol li {
    font-size: 3em;
    span {
      margin-top: 0.7em;
    }
  }
}
