body {
  margin: 0;
  padding: 0;
}
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    height: 25%;
    font-family: "helvetica neue", sans-serif;
    font-size: 4em;
    span {
      margin-top: 1em;
      position: absolute;
      text-align: center;
      width: 100%;
    }
  }
  a {
    color: #FFFFFF;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
.about {
  background-color: #C4BDA6; 
}
.projects {
  background-color: #50737A;
}
.blog {
  background-color: #F8F1DD;
}
.photography {
  background-color: #CC766A;
}
// mobile

@media only screen and (max-width : 767px) {
  body ol li {
    font-size: 3em;
    span {
      margin-top: 0.7em;
    }
  }
}