@import 'partials/_typography';
@import "partials/_typography";
@import "partials/_grid";
@import "partials/colors";

body {
    font-size: 2em;
    max-width: 600px;
    margin: auto;
}

.container {
    margin-top: 50px;
}

footer {
    text-align: center;
    padding-top: 30px;
    a {
        font-size: 36px;
    }
}

@media (min-device-width: 320px) and (max-device-width: 812px)  {
    body {
        margin: 20px;
    }
}
