@import "partials/_reset";
@import "partials/typography";

body {
  color: #111111;
  margin: 50px auto 0;
  max-width: 800px;
  letter-spacing: 0.03em;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #0074d9;
  &:hover {
    border-bottom: 1px solid #0074d9;
  }
}

h1 {
  font-weight: 100;
  opacity: 0.9;
}


section {
  margin: 20px 0;
  &.work {
    .job-title {
      margin: 5px 0;
      font-size: 14px;
    }
    .company-name {
      margin: 10px 0;
      opacity: 0.8;
    }
    .description {
      font-size: 1.4rem;
      line-height: 2.2rem;
    }
  }
}

.projects {
  ul {
    li {
      margin: 10px 0;
      font-size: 1.4rem;
    }
  }
}

@media (max-width: 800px) {
  body {
    margin: 40px 10% 0;
  }
}
