@import 'partials/_reset';
@import 'partials/_typography';
@import 'partials/_grid';

.intro {
  margin-top: 42px;
}

.projects {
  ul {
    li {
      margin-top: 10px;
    }
  }
}

.container {
  max-width: 600px;
  margin-left: 40px;
  margin-top: 38px;
}
