@import 'partials/_reset';
@import 'partials/_typography';
@import 'partials/_grid';

body {
  background-color: #1877B2;
  color: #DDDDDF;
}


.intro {
  margin-top: 40px;
}

.projects {
  ul {
    li {
      margin-top: 10px;
    }
  }
}

.container {
  max-width: 600px;
  margin-left: 40px;
  margin-top: 38px;
}