body {
  font-family: sans-serif;
  font-size: 1em;
}
h1 {
  margin: auto;
  margin-top: 10%;
  border: 1px solid rgb(194, 194, 194);
  padding: 60px;
  width: 780px;
  border-radius: 3px;
  color: rgb(90, 170, 170);
}