@import 'partials/_reset';
@import 'partials/_typography';
@import 'partials/_grid';

body {
  background-color: #111111;
  color: #F6E5B3;
}

a {
  color: #CFBB79;
}

.intro {
  margin-top: 40px;
}

.projects {
  ul {
    li {
      margin-top: 10px;
    }
  }
}

.container {
  max-width: 500px;
  margin: auto;
}