html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}
.container {
    display: flex;
    color: red;
    flex-direction: column;
    text-align: center;
    font-size: 64px;
    line-height: 84px;
    text-transform: uppercase;
    width: 200px;
    align-items: center;
}
.glory {
    font-size: 17px;
    line-height: 22px;
    background: red;
    color: white;
    letter-spacing: 0.4px;
    width: 80%;
}
