body {
  background-color: rgba(0,0,0,0.12);
  padding: 0 !important;
  background-size: 100%;
  padding-bottom: 30px;
}
.yellow {
  background-color: rgba(255, 255, 0, 0.5) !important;
  -webkit-transition: all 1s ease-in-out;
}
.fade-yellow {
  background-color: rgba(255, 255, 255, 0.5) !important;
  -webkit-transition: all 1s ease-in-out;
}
input[type="text"] {
  opacity: 0.7;
  height: auto;
  font-size: 30px;
  line-height: 1.2em;
  padding: 4px;
  border: 1px solid #fff;
  border-radius: 0;
}
.center {
  text-align: center;
  margin: auto;
}
.button {
  font-size: 25px;
  padding: 13px;
  margin-top: -9px;
  border-radius: 1px;
  border: 1px solid rgba(255,255,255,0.3);
  background: rgba(255,255,255,0.5) !important;
}
.contains-slider {
  width: 100%;
  background-color: rgba(0, 143, 213, 0.76);
}
#userInfo {
  height: 100%;
  width: 300px;
  margin: auto;
}
#user-stats {
  font-size: 20px;
  line-height: 1.0em;
}
.info {
  margin: 10px;
}
#user-avatar {
  border-radius: 5px;
}
h1 {
  font-size: 120px;
  line-height: 106px;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  margin-left: 10px;
}
h2 {
  color: transparent;
  font-size: 100px;
  line-height: 99px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
#iver {
  padding-top: 100px;
}
::-webkit-input-placeholder {
  font-size: 25px;
}
:moz-placeholder {
  font-size: 25px;
}
.about-wrapper {
  background-color: rgba(0, 0, 255, 0.2);
  padding-bottom: 10px;
  .bubble {
    margin: 30px;
    border-radius: 10px;
    background-color: #455999;
    padding: 30px;
    color: white;
    a {
      color: #F2D99C;
      border-bottom: 1px dotted #F2D99C;
    }
  }
  .bubble-triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #455999;
    margin-top: -50px;
    margin-bottom: 40px;
    display: block;
  }
}
.artist-wrapper {
  background-color: #CC2738;
  padding: 0px 0 20px 0;
  color: #F2D99C;
  .bubble {
    margin: 30px;
    border-radius: 10px;
    background-color: #BF0426;
    padding: 30px;
  }
  .bubble-triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #BF0426;
    margin-top: -50px;
    margin-bottom: 40px;
    display: block;
  }
}
.search {
  margin: auto;
  width: 280px;
}
#floater {
  position: fixed;
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 1px;
  bottom: 0;
  padding: 15px;
  color: #fefefe;
  width: 100%;
  background-color: rgba(159, 140, 235, 0.9);
}