#app {
    text-align: center;
    font-size: 20px;
    font-family: 'SF Pro Text', Roboto, sans-serif;
    .medium-text {
        font-size: 64px;
        margin-top: 200px;
    }
    .large-text {
        font-size: 128px;
        margin-top: 200px;
    }
    .extra-large-text {
        font-size: 512px;
        margin-top: 300px;
    }
    .input-text {
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
        padding: 10px 13px;
        &:hover {
            box-shadow: 0px 1px 2px #ccc;
        }
        &:active {
            box-shadow: 0px 2px 2px #ccc;
        }
    }
    h1 {
        font-size: 20px;
    }
    subtitle {
        display: block;
        margin: 10px 0 20px;
        font-size: 12px;
    }
}
