#app {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    .medium-text {
        font-size: 64px;
        margin-top: 200px;
    }
    .large-text {
        font-size: 128px;
        margin-top: 200px;
    }
    .extra-large-text {
        font-size: 512px;
        margin-top: 300px;
    }
}
