body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
subprime {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-style: oblique;
    font-size: 36px;
    outline: none;
    background-color: red;
    color: white;
    padding: 5px 8px;
}