ul {
    list-style: none;
    padding: 0;
    margin: 0;
    &.has-key-down {
        color: #876;
    }
}
li {
    float: left;
    margin: 10px 20px 10px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    width: 240px;
    height: 90px;
    padding: 20px;
    transition: border-color 0.2s;
    &:hover {
        cursor: pointer;
        border-color: #00CEE9;
        .looming {
            color: black;
        }
    }
}
.dash {
    font-size: 36px;
}
.name {
    font-size: 16px;
}
.description {
    margin-top: 10px;
    .unicode, .html-ref {
        border-radius: 5px;
    }
}
numeric {
    font-family: 'SF Mono', 'Roboto Mono', sans-serif;
}
type {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}
.description > span {
    display: flex;
    justify-content: space-between;
}
.intro {
    font-size: 13px;
    line-height: 24px;
    /* padding-top: 4px; */
    margin-top: 0;
    padding: 0;
    margin-bottom: 0;
}

.button-ui {
    border: 1px solid #ccc;
    border-radius: 4px 5px;
    padding: 2px 4px;
    font-size: 12px;
    transition: background-color 0.3s;
    &.highlighted {
        background-color: #549BE9;
        color: #F8F9F4;
        border-color: transparent;
    }
}

tooltip {
    width: 200px;
    padding: 10px 5px;
    display: block;
    background-color: #D6E8FF;
    color: #022F87;
    text-align: center;
    border-radius: 30px;
    position: fixed;
    left: 50%;
    margin-left: -100px;
    transition: top 0.2s ease-in-out;
    top: 20px;
    &.hidden {
        top: -50px;
    }
}

/** mobile styles **/
@media screen and (max-width: 800px) {
    #dashes {
        width: 80%;
        pointer-events: none;
    }
    li {
        width: 86%;
    }
}
