ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    float: left;
    margin: 10px 20px 10px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    width: 240px;
    height: 90px;
    padding: 20px;
}
.dash {
    font-size: 36px;
}
.name {
    font-size: 16px;
}
.description {
    margin-top: 10px;
}
numeric {
    font-family: 'SF Mono', 'Roboto Mono', sans-serif;
}
type {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}
.description > span {
    display: flex;
    justify-content: space-between;
}
.intro {
    font-size: 13px;
    line-height: 24px;
    /* padding-top: 4px; */
    margin-top: 0;
    padding: 0;
    margin-bottom: 0;
}

.button-ui {
    border: 1px solid #ccc;
    border-radius: 4px 5px;
    padding: 3px;
    font-size: 12px;
}

/** mobile styles **/
@media screen and (max-width: 800px) {
    body {
        width: 90%;
    }
    li {
        width: 90%;
    }
}
