$black: #111;
$blue: #0074d9;
$gray: #aaa;
$dark: #444555;
$verdan: #FEF7EF;
$violet: #371B46;
$bluish: #1D58B9;
$night: #06122c;
$moonlight: #bceaf4;


// light colors
$light--bg-color: white;
$light--text-color: $violet;
$light--link-color: $bluish;
$light--highline-color: $bluish;

// dark colors
$dark--bg-color: $night;
$dark--text-color: $verdan;
$dark--link-color: $moonlight;
$dark--highline-color: $verdan;


body {
    // background-color: $light--bg-color;
    // color: $light--text-color;
    a {
      // color: $light--link-color;
    }
}

@mixin darkMode {
  // background-color: $dark--bg-color;
  // color: $dark--text-color;
  a {
    // color: $dark--link-color;

  }
  h1 {
    // color: $dark--text-color;
  }
}
