$black: #111;
$blue: #0074d9;
$gray: #aaa;
$dark: #444555;
$verdan: #FEF7EF;
$violet: #371B46;
$bluish: #1D58B9;
$night: #06122c;
$moonlight: #bceaf4;


// light colors
$light-mode--bg-color: white;
$light-mode--text-color: $violet;
$light-mode--link-color: $bluish;
$light-mode--highline-color: $bluish;

// dark colors
$dark-mode--bg-color: $night;
$dark-mode--text-color: $verdan;
$dark-mode--link-color: $moonlight;
$dark-mode--highline-color: $verdan;


body {
    background-color: $light-mode--bg-color;
    color: $light-mode--text-color;
    a {
      color: $light-mode--link-color;
    }
}
.alert-highlight {
    background-color:#4f4f4f;
    color:#c6c6c6;
}

@mixin darkMode {
  background-color: $dark-mode--bg-color;
  color: $dark-mode--text-color;
  a {
    color: $dark-mode--link-color;

  }
  h1 {
    color: $dark-mode--text-color;
  }
  p {
    color: $dark-mode--text-color;
  }
  .alert-highlight {
    background-color:#4f4f4f;
    color:#c6c6c6;
  }
  pre {
    color: $dark-mode--text-color;
  }
}

// body.dark {
//   @include darkMode();
// }

@media (prefers-color-scheme: dark) {
  body {
    @include darkMode();
  }
}
