$black: #111;
$blue: #0074d9;
$gray: #aaa;
$dark: #444555;
$verdan: #FEF7EF;
$violet: #371B46;
$bluish: #1D58B9;
$night: #06122c;
$moonlight: #88e0f5;


// light colors
$light--bg-color: white;
$light--text-color: $violet;
$light--link-color: $bluish;
$light--highline-color: $bluish;

// dark colors
$dark--bg-color: $night;
$dark--text-color: $verdan;
$dark--link-color: $moonlight;
$dark--highline-color: $verdan;


body.light {
    background-color: $light--bg-color;
    color: $light--text-color;
    a {
      color: $light--link-color;
    }
}

body.dark {
    background-color: $dark--bg-color;
    color: $dark--text-color;
    a {
      color: $dark--link-color;
    }
    h1.homepage.title {
      color: $dark--text-color;
    }
}
