body {
  margin-left: 40px;
}
nav {
  margin-top: 40px;
}

article {
  width: 400px;
}

@media (max-width: 420px) {
  .container {
      max-width: 300px;
      margin: auto;
  }
  .flex-container {
      margin: 20px;
      li {
        margin-right: 12px;
      }
  }
}
