body {
  margin: 0;
  padding: 0;
}

article {
  width: 400px;
}

.container {
  display: flex;
  flex-direction: column;
  // align-items: center;
  max-width: 786px;
  margin-left: 40px;
  margin-top: 38px;
}

@media (max-width: 420px) {
  .container {
      max-width: 480px;
      margin-top: 36px;
  }
  .flex-container {
      margin: 20px;
      li {
        margin-right: 12px;
      }
  }
}
