html, body {
  padding: 0;
  margin: 0;
}

body {
  color: blue;
}

ul {
  margin: 0;
  -webkit-padding-start: 0;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  li {
    list-style: none;
  }
}
