@import '_colors';
@import url('https://rsms.me/inter/inter-ui.css');

html {
  // a simple base font size so that everything is easier to size relatively using REM
  font-size: 10px;
}
body {
  background-color: white;
  color: $black;
  font-size: 1.6rem;
  font-family: 'Inter UI', sans-serif;
}

p {
  line-height: 1.9rem;
}

@mixin text-align-center {
  text-align: center;
}

.text-align-center {
  @include text-align-center;
}

.text-align-left {
  text-align: left;
}

// hovering should only show underline
a {
  text-decoration: none;
  opacity: 0.8;
  border-bottom: 1px solid transparent;
  &:hover {
    border-bottom: 1px solid currentColor;
    transition: opacity 0.8s;
  }
}

.title {
  letter-spacing: 0.02em;
  font-size: 3rem;
}

h1 {
  font-weight: bold;
}

li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  &:before {
    content: '»';
    opacity: 0.5;
    padding-right: 8px;
  }
}