@import '_colors';

html {
  // a simple base font size so that everything is easier to size relatively using REM
  font-size: 10px;
}
body {
  // color: $black;
  background-color: white;
  color: $black;
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@mixin text-align-center {
  text-align: center;
}

.text-align-center {
  @include text-align-center;
}

.text-align-left {
  text-align: left;
}

// hovering should only show underline
a {
  text-decoration: none;
  color: $blue;
  opacity: 0.8;
  &:hover {
    border-bottom: 1px solid;
    opacity: 1;
    transition: opacity 0.8s;
  }
}

.title {
  letter-spacing: 0.02em;
  font-size: 3rem;
}

nav {
  font-size: 1.8rem;
  li a {
    opacity: 0.5;
    letter-spacing: 0.01rem;
    &.current {
      color: $black;
    }
  }
}

@media (max-width: 420px) {
  body {
    font-size: 1.6rem;
  }
  .title {
    font-size: 1.8rem;
  }
  nav {
    font-size: 1.4rem;
  }
}
