
@font-face {
  font-family: 'Verlag-Bold';
  src: url('Verlag-Bold.eot?#iefix') format('embedded-opentype'),  url('Verlag-Bold.otf')  format('opentype'),
	     url('Verlag-Bold.woff') format('woff'), url('Verlag-Bold.ttf')  format('truetype'), url('Verlag-Bold.svg#Verlag-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
