body {
  width: 80%;
  margin: auto;
  color: rgba(48, 48, 48, 1);
  font-family: 'Sans source', 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}
#skills {
  width: 20%;
  float: left;
  min-height: 500px;
}
#summary, #experience, #projects {
  width: 80%;
  float: left;
}
