body {
  width: 80%;
  margin: auto;
  color: rgba(48, 48, 48, 1);
  font-family: 'Roboto', sans-serif;
}
address {
  color: rgba(136, 139, 142, 1);
}
#skills {
  width: 20%;
  float: left;
  min-height: 500px;
}
#summary, #experience, #projects {
  width: 80%;
  float: left;
}
